@import 'variables';

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: $font-family;
}


.banner{
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-item{
        padding: 40px 30px;
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .Let-us-help-your-Bus{
            padding: 20px 0px;
            font-size: 1.8rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.73;
            letter-spacing: normal;
            color: #ffffff;
        }

        .support-text-for-moto{
            padding: 20px 0px;
            font-size: 0.8rem;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }

        .rectangle{
            // background-image: url(/images/icons8-right-arrow-24.png);
            // background-repeat: no-repeat;
            padding: 20px 0px;
            font-size: 0.8rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            width: 80px;
            height: 18px;
            padding: 10px;
            box-shadow: 0 2px 32px 0 rgba(33, 33, 33, 0.21);
            background-color: #0091ff;
            align-content: center;

            &:hover{
                background-color: lighten($color: #0091ff, $amount: 15%);
            }
        }
    }
    .item-1{
        background-color: darkblue;
        position: relative;
    }
    
    .item-2{
        display: flex;
        position: relative;
        align-items: center;

        // img{
            

          
           .img-2.active{
            max-width: 30%;
            transform: translate(-120px, 76px);
            z-index: 1;
                // .active{
                    animation: fadein 6s;
                    animation-delay: 2s;
                    @keyframes fadein {
                        from {
                            opacity:0;
                        }
                        to {
                            opacity:1;
                        }
                    }
                // }
          
            }
           .img-3.active{
            max-width: 30%;
            transform: translate(80px, -20px);
            z-index: 3;

            // .active{
                animation: fadein 6s;
                animation-delay: 4s;
               
                @keyframes fadein {
                    from {
                        opacity:0;
                    }
                    to {
                        opacity:1;
                    }
                }
           // }
        
            }

            .img-1.active{
                max-width: 50%;
                transform: translate(-20px, 100px);
                z-index: 0;

                // .active{
                    animation: fadein linear 1.5s 200ms;
                    animation-delay: 0s;
                    @keyframes fadein {
                        from {
                            opacity:0;
                        }
                        to {
                            opacity:1;
                        }
                    }
               // }

               
             }
       // }

    }
}