.container{
    padding: 0px 20px;

    .nav-bar{
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo-container{
            align-self: flex-start;
    
            img{
                max-width: 50%;
            }
        }
    
        .nav-items{
            font-family: $font-family;
            font-size: 1.1rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            align-self: flex-end;
            display: flex;
    
            a{
                display: block;
                color: #363636;
                text-decoration: none;
                padding: 10px;
    
                &:hover{
                    text-decoration: underline;
                    text-decoration-color: orange;
                    bottom: 3px;
                }
    
                img{
                    width: 30px;
                    height: 20px;
                }
            }
        }

        a.icon{
            padding: 10px;
            background: black;
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            
        }
    }
}

@media(max-width: 600px){
    .container{
        .nav-bar{
            .nav-items{
            
                    display: none;
            
            }
            a.icon{
                display: block;
            }
        }
    }    
}
@media(max-width: 768px){

}


