* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Raleway;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-item {
  padding: 40px 30px;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner .banner-item .Let-us-help-your-Bus {
  padding: 20px 0px;
  font-size: 1.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: normal;
  color: #ffffff;
}

.banner .banner-item .support-text-for-moto {
  padding: 20px 0px;
  font-size: 0.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.banner .banner-item .rectangle {
  padding: 20px 0px;
  font-size: 0.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  width: 80px;
  height: 18px;
  padding: 10px;
  box-shadow: 0 2px 32px 0 rgba(33, 33, 33, 0.21);
  background-color: #0091ff;
  align-content: center;
}

.banner .banner-item .rectangle:hover {
  background-color: #4db2ff;
}

.banner .item-1 {
  background-color: darkblue;
  position: relative;
}

.banner .item-2 {
  display: flex;
  position: relative;
  align-items: center;
}

.banner .item-2 .img-2.active {
  max-width: 30%;
  transform: translate(-120px, 76px);
  z-index: 1;
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.banner .item-2 .img-3.active {
  max-width: 30%;
  transform: translate(80px, -20px);
  z-index: 3;
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.banner .item-2 .img-1.active {
  max-width: 50%;
  transform: translate(-20px, 100px);
  z-index: 0;
  -webkit-animation: fadein linear 1.5s 200ms;
          animation: fadein linear 1.5s 200ms;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  padding: 0px 20px;
}

.container .nav-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .nav-bar .logo-container {
  align-self: flex-start;
}

.container .nav-bar .logo-container img {
  max-width: 50%;
}

.container .nav-bar .nav-items {
  font-family: Raleway;
  font-size: 1.1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  align-self: flex-end;
  display: flex;
}

.container .nav-bar .nav-items a {
  display: block;
  color: #363636;
  text-decoration: none;
  padding: 10px;
}

.container .nav-bar .nav-items a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: orange;
          text-decoration-color: orange;
  bottom: 3px;
}

.container .nav-bar .nav-items a img {
  width: 30px;
  height: 20px;
}

.container .nav-bar a.icon {
  padding: 10px;
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 600px) {
  .container .nav-bar .nav-items {
    display: none;
  }

  .container .nav-bar a.icon {
    display: block;
  }
}

